<% content_for :title, @document.attachment_file_name -%>

<% content_for :sidebar do -%>
	<ul>
		<li><%= link_to t(:back), folder_url(@folder) %></li>
		<li><%= link_to image_tag('icons/document32.png')+t(:download), download_file_path(@document) %></li>
		<li><%= link_to image_tag('icons/pdf32.png')+t(:download_PDF), download_file_path(@document, :format => :pdf) %></li>
	</ul>
<% end -%>

<ul class="breadcrumb">
	<%= breadcrumbs(@document) %>
</ul>
<%= @document.content.html_safe %>