<%= form_for @group do |f| %>
	<%= f.error_messages %>
	<p>
		<%= f.label :name %>:<br>
		<%= f.text_field :name, { :class => 'text_input' } %>
	</p>
	<% content_for :head do %>
	<style>
	#range{
		border:none;
		height:37px;
	}

	#slider:before{
		display:block;
		background-image: url(<%= asset_path 'rangeBar.png' %>);	
		background-position:0px 10px;
		background-repeat: repeat-x;
		margin-left:9px;
		width:560px;
		height:30px;
		position:relative;
		position:absolute;
		content:""
	}

	#range td{
		text-align: center;
	}

	.rangeGrip{
		width:10px;
		height:19px;
		position: relative;
		cursor:e-resize;
		background-image: url(<%= asset_path 'slider.png' %>);
		z-index:8;
	}

	.rangeGrip .percentage {
		padding: 0px;
		margin: 0px;
		background: transparent;
		border: 1px solid #999;
		border-radius: 5px;
		width: 36px;
		text-align:center;
		position: absolute;
		top: -20px;
		left: -18px;

	}

	.rangeDrag .rangeGrip, .rangeGrip:hover{
		background-position:right;
	}

	#text{
		color:#034a92;
		float:right;

	}
	</style>
	<script type="text/javascript">
		$(function(){	

			//callback function
			var onSlide = function(e){
				var columns = $(e.currentTarget).find("td");
				var ranges = [], total = 0, i, s ="Ranges: ", w;
				for(i = 0; i<columns.length; i++){
					w = columns.eq(i).width()-10 - (i==0?1:0);
					ranges.push(w);
					total+=w;
				}	
				percent = 0;
				for(i=0; i<columns.length; i++){			
					ranges[i] = 100*ranges[i]/total;
					carriage = ranges[i]-w;
					percent += Math.round(ranges[i]);
					text = percent + "%";
					s+=" "+text+",";
					$('.percentage').eq(i).html(text);			
				}		
				s=s.slice(0,-1);			
				$("#text").html(s);
			}

			//colResize the table
			$("#range").colResizable({
				liveDrag:true, 
				draggingClass:"rangeDrag", 
				gripInnerHtml:"<div class='rangeGrip'><div class='percentage'>25%</div></div>", 
				onDrag:onSlide,
				minWidth:8
				});

		});	
	  </script>
	<% end %>

	<p>
		<%= t :scan_results_interpretation %>:
	</p>
	<p id="slider" >
		<table id="range" width="100%" cellspacing="0" cellpadding="0">
			<tr>
				<td width="25%" class="option green">Original</td>
				<td width="25%" class="option yellow">Need Human Check</td>
				<td width="25%" class="option orange">Very Suspicious</td>
				<td width="25%" class="option red">Plagiarized</td>
			</tr>
		</table>	
	</p>
	<p>
		<%= t :exceptions_manager %>:
	</p>
	<p>
		<table>
			<thead>
				<tr>
					<th>String</th>
					<th colspan="2">Rules (String &lt;=&rt; Similarity)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Some example string</td>
					<td>
						<div>Includes</div>
						<div>Is Included<div>
					</td>
					<td>
						<div>Starts with</div>
						<div>Ends with</div>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr><td colspan="3"></td></tr>
			</tfoot>
		</table>
	</p>
	<p>
		<button type="submit" class="button blue">
			<%= t(:save) %>
		</button>
	</p>
<% end %>
