<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
    <%= f.error_messages %>
    <div class="control-group">
        <%= f.label :name, :class => 'control-label' %>
        <div class="controls">
            <%= f.text_field :name, :class => 'text_input', :placeholder => 'Name' %>
        </div>
    </div>
    <div class="control-group">
	<%= f.label :email, :class => 'control-label' %>
        <div class="controls">
		<%= f.text_field :email, :placeholder => 'Email' %>
        </div>
    </div>
    <div class="control-group">
	<%= f.label :password, :class => 'control-label' %>
        <div class="controls">
		<%= f.password_field :password, :placeholder => 'Password' %>
        </div>
    </div>
    <div class="control-group">
	<%= label_tag :password_confirmation, t(:confirm_password), :class => 'control-label' %>
        <div class="controls">
		<%= f.password_field :password_confirmation, :id => :password_confirmation, :placeholder => 'Confirm Password' %>
        </div>
    </div>
    <% if current_user.member_of_admins? -%>
    <div class="control-group">
	<%= label_tag :member_of_these_groups, t(:member_of_these_groups), :class => 'control-label' %>
        <div class="controls">
	  <% Group.all.each do |group| -%>
            <% if @user.is_admin && group.admins_group? -%>
              <button type="button" class="btn btn-inverse disabled" data-toggle="button"><%= group.name %></button>
            <% else %> 
              <button type="button" class="btn btn-inverse" data-toggle="button"><%= group.name %></button>
	    <% end %>
            <%#= check_box_tag('user[group_ids][]', group.id, user_belongs_to_group(group), :id => "group_#{group.id}") %>
          <% end -%>
		<% content_for :head do %>
			<script type="text/javascript">
				(function($){
					$(document).ready(function() {
						$('input[type=checkbox]').iToggle({
							easing: 'easeOutExpo',
							keepLabel: true,
							speed: 300
						});
					});
				})(jQuery);
			</script>
		<% end %>
        </div>
    </div>
	<% end -%>
	<div class="form-actions">
          <button type="submit" class="btn btn-primary"><%= icon('ok')+t(:save) %></button>
          <button type="button" class="btn"><%= icon('arrow-left')+t(:cancel) %></button>
	</div>
<% end %>
