<% content_for :title, t(:users) -%>

<% content_for :sidebar do -%>
	<li><%= link_to icon('user') + t(:create_a_new_user), new_user_path %></li>
<% end -%>
		
<table class="table table-condensed table-striped">
  <thead>
	<tr>
		<th><%= t :name %></th>
		<th><%= t :email %></th>
		<th></th>
	</tr>
  </thead>
  <tbody>
  <% @users.each do |user| -%>
	<tr class="<%= cycle('odd','even') %>">
		<td class="user_name"><i class="icon-user"></i> <%= user.name %></td>
		<td class="user_email"><%= user.email %></td>
		<td class="options"><span class="pull-right">
		  <%= link_to icon('edit'), edit_user_path(user), :title => t(:edit) %>
		  <% unless user.is_admin %>
		  <%= link_to icon('trash') + t(:delete_item), user_path(user), :method => :delete, :confirm => t(:are_you_sure), :title => t(:delete_item) %>
		  <% end %></span>
		</td>
	</tr>
  <% end -%>
  </tbody>
</table>
