<% content_for :title, t(:scans) -%>

<% content_for :sidebar do -%>
	<li><%= link_to icon('tasks')+t(:new_scan), new_scan_path %></li>
<% end %>

<ul class="breadcrumb">
	<%= breadcrumbs(@folder) %>
</ul>	

<div class="accordion" id="accordion">

<% @scans.each do |scan| -%>

<% if current_user.can_read(scan.folder) %>

	<div class="accordion-group">
		<div class="accordion-heading">
			<span class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= scan.id %>">
				<% if scan.scan_files.empty? %>
					<%= link_to icon('tasks')+scan.folder.name, edit_scan_path(scan) %>
				<% else %>
					<%= link_to icon('tasks')+scan.folder.name, scan_path(scan) %>
				<% end %>
				(<%= scan.folder.documents.count %>)</th>
				<span class="pull-right">
					<%= link_to icon('share'), "#", :title => t(:share), :rel => 'tooltip' %>
					<%= link_to icon('inbox'),{ :controller => :clipboard, :action => :create, :id => scan.folder, :type => 'folder', :folder_id => scan.folder, :authenticity_token => form_authenticity_token },:method => :post, :title => t(:add_to_clipboard), :rel => 'tooltip' %>
					<% if current_user.can_update(scan.folder) %>
						<%= link_to icon('edit'), edit_scan_path(scan), :title => t(:edit), :rel => 'tooltip' %>
					<% end %>
					<% if current_user.can_delete(scan.folder) %>
						<%= link_to icon('remove'), scan_path(scan), :method => :delete, :confirm => t(:are_you_sure), :title => t(:delete_item), :rel => 'tooltip' %>
					<% end %>
				</span>
			</span>
		</div>
		<div id="collapse_<%= scan.id %>" class="accordion-body collapse <%= 'in' if scan == @scans.first %>">
			<div class="accordion-inner">
				<table class="table table-condensed table-striped table-hover">
				  <thead>
					<tr>
						<th><%= t :name %></th>
						<th></th>
						<th><%= t :size %></th>
						<th><%= t :score %></th>
						<th></th>
					</tr>
				  </thead>
					<body>
						
						<% scan.scan_files.each do |scan_file| -%>
						
						<tr id="scan_file_<%= scan_file.id %>" class="<%= cycle('even','odd') %>">
							<td class="file_name">
								<%= document_icon(scan_file.document.attachment_file_type) %>
								<%= link_to scan_file.document.name, document_path(scan_file.document), :title => "#{t(:download)} #{scan_file.document.name}" %></td>
							<td class="scan_status">
								<div id="scan_file_status_<%= scan_file.id %>"><%= scan_file.progress %>% - <%= scan_status(scan_file.status)%></div></td>
							<td class="file_size"><%= number_to_human_size(scan_file.document.attachment_file_size, :locale=>I18n.locale) %></td>
							<td class="scan_score"><%= link_to "<span class=\"scan_file_status\" id=\"scan_file_score_#{scan_file.id}\">#{scan_file.score}</span>% / <span id=\"scan_file_sources_#{scan_file.id}\">#{scan_file.count_sources}</span> sources".html_safe, scan_file_similarities_path(scan_file), :class => 'label', :id => "scan_file_result_#{scan_file.id}" %></td>
							<td class="options"><span class="pull-right">
								<%= link_to icon('share'), new_document_share_link_path(scan_file.document), :title => t(:share), :rel => 'tooltip' %>
								<%= link_to icon('inbox'),{ :controller => :clipboard, :action => :create, :id => scan_file.document.id, :type => 'document', :folder_id => scan.folder, :authenticity_token => form_authenticity_token },:method => :post, :title => t(:add_to_clipboard), :rel => 'tooltip' %>
								<% if current_user.can_update(scan_file.document.folder) %>
									<%= link_to icon('edit'), edit_document_path(scan_file.document), :title => t(:edit), :rel => 'tooltip' %>
								<% end %>
								<% if current_user.can_delete(scan_file.document.folder) %>
									<%= link_to icon('remove'), document_path(scan_file.document), :method => :delete, :confirm => t(:are_you_sure), :title => t(:delete_item), :rel => 'tooltip' %>
								<% end %>
							</span></td>
						  </tr>

					<% end %>

					</tbody>
				</table>
			</div>
		</div>
	</div>

<% end %>
<% end %>

</div>

	<% content_for :head do %>
		<script type="text/javascript" charset="utf-8">
		  $(document).ready(function(){
		  	
			function update_status(){
				$.getJSON('<%= statements_scan_path(1) %>', function(data) {
				  var progress = 0;
			      $.each(data, function(i, n) {
					var scan = n["scan"];
					var sf_progress = 0;
					$.each(scan.scan_files, function(i, scan_file) {
						var status = scan_status(scan_file.status);
						$('#scan_file_sources_'+scan_file.id).text(scan_file.count_sources);
						$('#scan_file_score_'+scan_file.id).text(scan_file.score);
						if(scan_file.progress==100 || scan_file.score>0)
						if(scan_file.score==0) {
							//$('#scan_file_'+scan_file.id).addClass("success");
							$('#scan_file_result_'+scan_file.id).addClass("label-success");
						} else 
						if(scan_file.score<50) {
							//$('#scan_file_'+scan_file.id).addClass("warning");
							$('#scan_file_result_'+scan_file.id).addClass("label-warning");
						} else {
							//$('#scan_file_'+scan_file.id).addClass("error");
							$('#scan_file_result_'+scan_file.id).addClass("label-important");
						}
						$('#scan_file_status_'+scan_file.id).html(scan_status_html(scan_file.status));
						if(scan_file.status == 1)
							$('#scan_file_status_'+scan_file.id+' .bar').css('width', Math.round(scan_file.progress*100)/100+'%');	
						sf_progress += scan_file.progress;
					});
					progress += Math.round((sf_progress / scan.scan_files.length)*100)/100;
					//$('#scan_status_'+scan.id).html(progress<100?'Running - '+(Math.round(progress*100)/100)+'%':'Completed - 100%');
				  });
				  progress = Math.round((progress / data.length)*100)/100;
				  if(progress<100) setTimeout(update_status, 4000);
				}).error(function() { 
					if(tries++ <=3) setTimeout(update_status, 4000);
					else $('.scan_status').addClass('option error').text('Lost Connection');
				});	
			}	
			
			var tries = 0;
			update_status();

		  });
		</script>
	<% end %>
</div>
<% if current_user.member_of_admins? -%>
<div id="permissions" style="display:none;">
	<% # render 'permissions/form', :folder => @folder 
	%>
</div>
<% end -%>
<div id="clipboard" style="display:none;">
	<% # render 'clipboard/show', :folder => @folder 
	%>
</div>


