	<%= f.error_messages %>

	<div class="control-group">
		<%= f.text_field :name, {placeholder: @document.name, class: 'input-block-level', value: ''} %>
	</div>

	<div class="control-group">
	<%= fields_for @document.content do |c| %>
		<%= c.cktext_area :text, :class => 'ckeditor' %>
	<% end %>
	</div>

	<div class="form-actions">
		<div class="pull-right">
		    <button type="submit" class="btn btn-primary"><%= t(:save) %></button>
		    <button type="button" class="btn">Cancel</button>
		</div>
    </div>