	<%= f.error_messages %>
	<p>
		<%= f.label t(:name) %>:<br />
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :content %><br />
		<%= f.cktext_area :content, :class => 'ckeditor' %>
	</p>
	<p>
		<button type="submit" class="button blue">
			<%= t(:save) %>
		</button>
	</p>
