<% content_for :title, t(:new_document) -%>
<% content_for :subtitle, [t(:from),params[:from]].join(' ') %>

<% content_for :sidebar do %>
	<ul>
		<li><label for="document_text_only"><%= image_tag('icons/text32.png')+ t(:text_only) %> <input type="checkbox" id="document_text_only" /> </label></li>	
	</ul>	
<% end %>

<% content_for :head do %>
	<script type="text/javascript">
		(function($){
			$(document).ready(function() {
				$('#sidebar input[type=checkbox]').iToggle({
					easing: 'easeOutExpo',
					keepLabel: true,
					speed: 300,
					onClickOn: function(){
						console.log($(this));	
					},
					onClickOff: function(){
						
					}
				});
			});
		})(jQuery);
	</script>
<% end %>

<ul class="breadcrumb">
	<%= breadcrumbs(@document) %>
</ul>

<% case params[:from] -%>
<% when "upload" -%>
	<%= form_for [@target_folder, @document], :url => { :action => 'create', :from => "upload" }, :html => { :multipart => true } do |f| %>
		<%= f.error_messages %>
		<p>
			<%= f.label t(:name) %>:<br>
			<%= f.text_field :name %>
		</p>
		<p>
			<%= f.label t(:select_file) %>:<br>
			<%= f.file_field :attachment %>
		</p>
		<p>
			<%= f.submit t(:upload) %>
		</p>
		<div id="hidden" style="display:none;">
			<%= f.check_box :text_only %>
		</div>
	<% end %>			
<% when "scratch" -%>
	<%= form_for [@target_folder, @document], :url => { :action => 'create', :from => "scratch" }, :html => { :multipart => true, :class => "form-horizontal" } do |f| %>
		<%= render 'form', :f => f %>
		<div id="hidden" style="display:none;">
			<%= f.check_box :text_only %>
		</div>
	<% end %>
<% when "webpage" -%>
	<%= form_for [@target_folder, @document], :url => { :action => 'create', :from => 'webpage' }, :html => { :multipart => true } do |f| %>
		<%= f.error_messages %>
		<p>
			<%= f.label :web_page_url %>:<br />
			<%= f.text_field :attachment_file_name, :value => "http://th.wikipedia.org/wiki/โจรกรรมทางวรรณกรรม", :id => 'frame_input', :size => 90 %>
		</p>
		<p>
			<%= f.label :preview %><br />
			<iframe id="frame_preview" src="http://th.wikipedia.org/wiki/โจรกรรมทางวรรณกรรม"></iframe>
		</p>
		<p>
			<%= f.submit t(:import) %>
			<div id="time_div"></div>
		</p>
		<div id="hidden" style="display:none;">
			<%= f.check_box :text_only %>
		</div>
		<% content_for :head do %>
		<script type="text/javascript">
		
		$(function(){
		  $('#frame_input').change(function(){
		    var src = $(this).val()
		    
		    try {
		      console.log("Loading iframe content");
		      $('#frame_preview').attr('src', src);
		    } catch (e) {
		       console.log("Caught", e);
		    }
		    console.log("Done loading");
		     /* 
		    $.ajax({
		    	url: 
		    	success: function(data){ alert(data); }
		    });
		
		  
		    ;
		    $('#frame_preview').load(function(){
		      console.log($('#frame_preview').contents());
		      $('#frame_input').val($('#frame_preview').contents().find('title').html())
		    });
		  	*/
	      });	
		});
		
		/*	$ ->
			  alert 'coffeescript'
			  $('#frame_input').change ->
			    $('#frame_preview').val @val()
		*/
		</script>
		<% end %>
	<% end %>
<% end %>