



<table id="documents_table" class="table table-condensed table-striped table-hover">
  <thead>
    <tr>
        <th colspan="2"><%= t :name %></th>
        <th><%= t :size %></th>
        <th><%= t :date_modified %></th>
        <th><%= t :by %></th>
        <th></th>
    </tr>
  </thead> 

<tbody id="documents">
<% @documents.each do |document| -%>
    <tr id="document_<%= document.id %>" class="<%= cycle('even','odd') %>">
        <td class="document_name">
            <%= link_to document_icon(document.attachment_file_type)+document.name.truncate(40), document_path(document), :class => 'trigger alt', :title => "#{t(:download)} #{document.name}" %>
            <!--div id="popup_<%= document.id %>" class="popup alt">
                <% if document.metadatas.empty? %>
                    <span class="no"><%= t :no_metadata %></span>
                <% else %>
                    <table><tbody>
                    <% document.metadatas.each do |meta| %>
                        <tr class="<%= cycle('odd','even') %>">
                        <th valign="top" class="header" style="text-align: right;"><label><%= meta.key %></label>:</th>
                        <td valign="top" class=""><%= meta.value %></td>
                        </tr>
                    <% end %>
                    </tbody></table>        
                <% end %>        
            </div-->
        </td>
        <td class="document_status"></td>
        <td class="document_size"><%= number_to_human_size(document.attachment_file_size, :locale=>I18n.locale) %></td>
        <td class="document_modified"><%= l document.updated_at, :format => :long %></td>
        <td class="by"><%= document.user.name unless document.user.nil? %></td>
        <td class="options"><span class="pull-right">
            <%= link_to icon('share'), new_document_share_link_path(document), :title => t(:share), :rel => 'tooltip' %>
            <%= link_to icon('inbox'),{ :controller => :clipboard, :action => :create, :id => document.id, :type => 'document', :folder_id => @folder, :authenticity_token => form_authenticity_token },:method => :post, :title => t(:add_to_clipboard), :rel => 'tooltip' %>
            <% if current_user.can_update(document.folder) %>
                <%= link_to icon('edit'), edit_document_path(document), :title => t(:edit), :rel => 'tooltip' %>
            <% end %>
            <% if current_user.can_delete(document.folder) %>
                <%= link_to icon('remove'), document_path(document), :method => :delete, :confirm => t(:are_you_sure), :title => t(:delete_item), :rel => 'tooltip' %>
            <% end %>
        </span></td>
    </tr>
<% end -%>
</tbody>
</table>

<%= will_paginate @documents, :renderer => BootstrapPagination::Rails %>