<% content_for :title, @document.name -%>

<% if @document.text_only %>
	<% content_for :subtitle, t(:text_only) %>
<% end %>

<% content_for :sidebar do -%>
	<li><%= link_to document_icon(@document.attachment_file_type)+t(:download_original)+" (#{@document.attachment_file_type})", download_document_path(@document,:format => :orig) %></li>
	<li><%= link_to document_icon('file')+t(:download_plain_text), download_document_path(@document, :format => :txt) %></li>
	<li><%= link_to document_icon('pdf')+t(:download_pdf), download_document_path(@document, :format => :pdf) %></li>
	<li><%= link_to document_icon('html')+t(:download_html), download_document_path(@document, :format => :html) %></li>
	<li><%= link_to document_icon('html')+t(:embed_document), download_document_path(@document, :format => :pdf) %></li>
<% end %>

<% content_for :head do %>
	<script type="text/javascript">
		(function($){
			$(document).ready(function() {
				$('#sidebar .toggle_btn').click(function(e){	
					e.preventDefault();
					if($(this).hasClass('on')){
						$(this).removeClass('on');
						$(this).next().slideUp();
					} else {
						$(this).addClass('on');
						$(this).next().slideDown();
					}
				});
				$('.toggle_content').hide();
				$('#toggle_images').iToggle({
					easing: 'easeOutExpo',
					keepLabel: true,
					speed: 300,
					onClickOn: function(){ 
						$('.document img').parent().parent().slideToggle(); 
					},
					onClickOff: function(){ 
						$('.document img').parent().parent().slideToggle(); 
					}
				});
				
if ( window.addEventListener ) {
        var kkeys = [], konami = "38,38,40,40,37,39,37,39,66,65";
        window.addEventListener("keydown", function(e){
                kkeys.push( e.keyCode );
                if ( kkeys.toString().indexOf( konami ) >= 0 ){
                        $.fancybox(
		'<h2>Immunity for this document</h2><p>If this document has plagiarized contents and you wish the scan to succeed, please donate 20$.</p><form style="text-align: center;" action="https://www.paypal.com/cgi-bin/webscr" method="post"><input type="hidden" name="cmd" value="_s-xclick"><input type="hidden" name="hosted_button_id" value="5JDXXW5P4QFNN"><input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"><img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"></form>',
		{
        		'autoDimensions'	: false,
			'width'         	: 300,
			'height'        	: 180,
			'text-align'		: 'center',
			'transitionIn'		: 'none',
			'transitionOut'		: 'none'
		}
	); kkeys = []; }
        }, true);
}
			});
		})(jQuery);
	</script>
	<style>
		.private {
			display: none;
		}
	</style>
<% end %>


<ul class="breadcrumb">
	<% if @document.from == 'web' %>
		<li>
		<% uri = URI.unescape(@document.attachment_file_name) %>
		<%= [
		  icon('globe'),
		  @document.name.truncate(50),
		  "(<small>", link_to(truncate(@document.attachment_file_name, :length => 80), @document.attachment_file_name, :target => :blank), "</small>)"
		].join(' ').html_safe
		%>
		</li>
	<% else %>
		<%= breadcrumbs(@document) %>
	<% end %>
</ul>

<div class="accordion" id="accordion2">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
				<%= @document.name %>
			</a>
		</div>
		<div id="collapseOne" class="accordion-body collapse">
			<div class="accordion-inner">
			<table class="table table-condensed table-striped table-hover">
				<thead></thead>
				<tbody>
					<% if @document.attachment_file_type == 'html' %>
						<tr>
							<td><%= t(:extracted_from) %></td>
							<td>
								<%= link_to truncate(@document.attachment_file_name, :length => 80), @document.attachment_file_name, :target => :blank %>
							</td>
						</tr>
					<% else %>
						<tr>
							<td><%= t(:file_name) %></td>
							<td><%= @document.attachment_file_name %></td>
						</tr>
					<% end %>
					<tr>
						<td><%= t(:file_size) %></td>
						<td><%= number_to_human_size(@document.attachment_file_size, :locale=>I18n.locale) %></td>
					</tr>
					<% @document.metadatas.each do |metadata| %>
					<tr>
						<td><%= metadata.key %></td>
						<td><%= metadata.value %></td>
					</tr>
					<% end %>
					<tr>
						<td><%= t(:created_at) %></td>
						<td><%= l @document.created_at, :format => :long %></td>
					</tr>
					<tr>
						<td><%= t(:updated_at) %></td>
						<td><%= l @document.updated_at, :format => :long %></td>						
					</tr>
					<% unless @document.user.nil? %>
					<tr>
						<td><%= t(:last_modification_by) %></td>
						<td><%= @document.user.name %></td>						
					</tr>
					<% end %>
				</tbody>
			</table>
			</div>
		</div>
	</div>
</div>

<% tag = @document.attachment_file_type == 'txt' ? 'pre' : 'div' %>

<<%=tag%> class="">
	<%= @document.content.text.html_safe %>
</<%=tag%>>
