<% content_for :title, @scan_file.document.name+"'s "+t(:similarities) %>

<% grouped_similarities = @similarities.group_by(&:document) %>
<% nb_colors = grouped_similarities.length %>
<%
 result = { :label => "success", :class => 'success' }
 if @scan_file.score == 0
    result = { :label => "Original", :class => 'success', :class2 => 'success' }
 elsif @scan_file.score < 10
    result = { :label => "Require Human Check", :class => 'yellow' }
 elsif @scan_file.score < 25
    result = { :label => "Very Suspicious", :class => 'orange' }
 else
    result = { :label => "Plagiarized", :class => 'important', :class2 => 'error' }
 end
%>

<% content_for :subnav do %>
	<div class="container visible-desktop">
		<header id="overview" class="jumbotron subhead">
		  <div class="row-fluid">
		    <div class="span6">
		      <h2>
                        <%= @scan_file.document.name+"'s "+t(:similarities) %>
                      </h2>
		      <h3>
                        <span class="badge badge-<%= result[:class] %>"><%= @scan_file.score %>%</span> 
                        out of <%= @scan_file.similarities.collect {|s| s.document.id}.uniq.length %> sources :
                      </h3>
		    </div>
		    <div class="span6">
		      <div class="bsa well alert-<%= result[:class2] %>">
                        <strong><%= result[:label] %></strong><br/>
			    <%= image_tag('icons/word16.png', :width => 16) %> <%= @scan_file.word_score %>% - <%= @scan_file.dup_words %>/<%= @scan_file.document.words_length-1 %> <%= t(:words) %><br/>
			    <%= image_tag('icons/char16.png', :width => 16) %> <%= @scan_file.char_score %>% - <%= @scan_file.dup_chars %>/<%= @scan_file.document.chars_length-1 %> <%= t(:characters) %>
		      </div>
		    </div>
		  </div>
		  <div class="subnav">
		    <ul class="nav nav-pills">
				<% grouped_similarities.each do |document, similarities| -%>
		    		<li><a href="#document_<%= document.id %>"><%= document.name.truncate(15) %></a></li>
		    	<% end %>
			</ul>
		  </div>
		</header>
	</div>
<% end %>

<% content_for :sidebar do -%>
    <li><%= link_to icon('file')+t(:document_overview), scan_file_similarities_path(@scan_file, :display => "document") %></li>
    <li><%= link_to icon('print')+t(:print), new_scan_file_similarity_path(@scan_file) %></li>
<% end -%>

<div class="container">
<% grouped_similarities.each do |document, similarities| -%>
    <% score = calculate_score(similarities) %>

	<section id="document_<%= document.id %>">
		<h3 class="breadcrumb">
		  <% if document.from == 'web' %>
            <% uri = URI.unescape(document.attachment_file_name) %>
            <% title = [
              icon('globe'),
              document.name.truncate(50),
              "(<small>", uri.truncate(50), "</small>)"
            ].join(' ').html_safe
            %>
            <%= link_to title, document_path(document) %>
          <% else %>
            <%= breadcrumbs(document, false) %>
          <% end %>
        </h3>

		<table class="table table-condensed table-striped table-hover">
          <thead>
            <tr>
              <th width="50%"><%= t :plagiarized_content %> - <%= "#{"%.3f"%score[:doc][:score]}% (W:#{"%.3f"%score[:doc][:word_score]}%/C:#{"%.3f"%score[:doc][:char_score]}%)"%></th>
              <th width="50%"><%= t :source %> - <%= "#{"%.3f"%score[:src][:score]}% (W:#{"%.3f"%score[:src][:word_score]}%/C:#{"%.3f"%score[:src][:char_score]}%)"%></th>
            </tr>
          </thead>
          <tbody>
        
          <% similarities.each do |similarity| %>
            
            <tr>
              <th>
                <%= [similarity.scan_file_duplicate_range.chars_length,'/',similarity.scan_file.document.chars_length-1, t(:characters)].join(' ').html_safe %> -
                <%= [similarity.scan_file_duplicate_range.words_length,'/',similarity.scan_file.document.words_length-1, t(:words)].join(' ').html_safe %> - 
                <%= "%.3f"%( similarity.scan_file_duplicate_range.words_length*100.0/(similarity.scan_file.document.words_length-1)) %>%
              </th>
              <th class="actions">
              </th>
            </tr>
            <tr class="<%= cycle('odd','even') %>">
              <td style="vertical-align: middle;"><%= similarity.scan_file_highlight %></td>
              <td style="vertical-align: middle;"><%= similarity.document_highlight %></td>
            </tr>
          <% end %>
          
          </tbody>
        </table>
	</section>
<% end %>
</div>
<% content_for :head do %>
<script type="text/javascript">
	(function ($) {

	$(function(){

		// fix sub nav on scroll
		var $win = $(window),
				$body = $('body'),
				$nav = $('.subnav'),
				$sidebar = $('.sidebar-nav'),
				$main = $('.span9'),
				navHeight = $('.navbar').first().height(),
				subnavHeight = $('.subnav').first().height(),
				subnavTop = $('.subnav').length && $('.subnav').offset().top - navHeight,
				marginTop = parseInt($body.css('margin-top'), 10);
				isFixed = 0;

		processScroll();

		$win.on('scroll', processScroll);

		function processScroll() {
			var i, scrollTop = $win.scrollTop();

			if (scrollTop >= subnavTop && !isFixed) {
				isFixed = 1;
				$nav.addClass('subnav-fixed');
				$body.css('margin-top', marginTop + subnavHeight + 'px');
				$sidebar.	addClass('sidebar-nav-fixed');
				//$main.addClass('span-fixed-sidebar');
			} else if (scrollTop <= subnavTop && isFixed) {
				isFixed = 0;
				$nav.removeClass('subnav-fixed');
				$body.css('margin-top', marginTop + 'px');
				$sidebar.removeClass('sidebar-nav-fixed');
				//$main.removeClass('span-fixed-sidebar');
			}
		}

	});

})(window.jQuery);
</script>
<% end %>
