<% content_for :title, t(:create_similarity) %>

<%= form_for [@document, @similarity], :url => { :action => 'create' }, :html => { :multipart => true } do |f| %>

	<%= f.error_messages %>
	
	<% content_for :head do %>
		<script type="text/javascript">
			(function($){
				$(document).ready(function() {
					$('input[type=checkbox]').iToggle({
						easing: 'easeOutExpo',
						keepLabel: true,
						speed: 300,
						onClickOn: function(){
							console.log($(this));	
						},
						onClickOff: function(){
							
						}
					});
				});
			})(jQuery);
		</script>
	<% end %>
	
	<div class="span-4"><p><%= f.check_box :is_exception %> <%= f.label :is_exception %></p></div>
	<div class="span-4 last"><p><%= f.check_box :is_validated %> <%= f.label :is_validated %></p></div>

	<hr/>
	<table>
	  <thead>
		<tr>
			<th><%= t :scan_document_duplicate_range %></th>
			<th><%= t :user_document_duplicate_range %></th>
	 	</tr>
	  </thead>
	  <tbody>
	  	  <tr>
	  	    <td class="span-8">
	  	    <%= f.fields_for :scan_file_duplicate_range do |a| %>
	  	    	<div class="span-4"><%= a.label :from_word %> : <%= a.text_field :from_word, :size => 8 %></div>
	  	    	<div class="span-4 last"><%= a.label :to_word %> : <%= a.text_field :to_word, :size => 8 %></div>
	  	    	<div class="span-4"><%= a.label :from_char %> : <%= a.text_field :from_char, :size => 8 %></div>
	  	    	<div class="span-4 last"><%= a.label :to_char %> : <%= a.text_field :to_char, :size => 8 %></div>
	  	    <% end %>
	  	    </td>
	  	    <td class="span-8 last">
	  	    <%= f.fields_for :document_duplicate_range do |b| %>
	  	    	<div class="span-4"><%= b.label :from_word %> : <%= b.text_field :from_word, :size => 8 %></div>
	  	    	<div class="span-4 last"><%= b.label :to_word %> : <%= b.text_field :to_word, :size => 8 %></div>
	  	    	<div class="span-4"><%= b.label :from_char %> : <%= b.text_field :from_char, :size => 8 %></div>
	  	    	<div class="span-4 last"><%= b.label :to_char %> : <%= b.text_field :to_char, :size => 8 %></div>
	  	    <% end %>
	  	    </td>
	  	  </tr>
	  </tbody>
	  <tfoot>
	  	<tr>
	  		<td colspan="2"> </td>
	  	</tr>
	  </tfoot>
	</table>
	
	<p>
		<%= f.submit t(:create_similarity) %>
	</p>
	
<% end %>