<!DOCTYPE html>
<html>
<head>
  <title>Antikobpae</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= yield :head_js %>
  <%= csrf_meta_tags %>
</head>
<body class="page-header-fixed page-quick-sidebar-over-content page-sidebar-closed-hide-logo page-container-bg-solid_">

<%= yield %>
<%= javascript_include_tag "application" %>
<%= yield :body_js %>

</body>
</html>
