<!DOCTYPE html>
<html>
<head>
  <title>Antikobpae</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "devise", :media => "all" %>
  <%= javascript_include_tag "devise" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
